header{
    background-color: #8e5200;
    font-size: 1.7em;
    font-weight: bold;
    font-family: 'Baloo Paaji 2', arial, serif;
}

h1{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(255, 233, 207);
}

p{
    font-size: .75em;
}

h2{
    color: rgb(121, 77, 57);
    font-size: 1.3em;
}

a{
    color: rgb(121, 77, 57);
}

.cafes-list{
    border: 5px solid white;
    list-style-type: none;
}

svg.icon {
    display: inline;
    height: 2em;
    width: 2em;
    vertical-align: top;
    fill: white;
}

